Choose your user you boozer:
= form_for @user do |f|
  .span
    = f.label :email
    = f.text_field :personemail
  .span
    = label_tag :make_random_user
    = check_box_tag :isrando
  .span
    = f.submit 'Enable God Mode'
%p
= link_to 'Click Here to Learn How Uber Uses God Mode', 'http://www.forbes.com/sites/kashmirhill/2014/10/03/god-view-uber-allegedly-stalked-users-for-party-goers-viewing-pleasure/', target: :blank