= form_for @client do |f|
  .row
    = f.label :first_name
  .row
    = f.text_field :firstname
  .row
    = f.label :last_name
  .row
    = f.text_field :lastname
  .row
    = f.label :email
  .row
    = f.text_field :personemail
  .row
    = f.submit 'Add New Client'
  .row
    %small Takes a few seconds, in order to create client and associated order.
