/ render 'add_order_item_form' if @order.order_items.empty?
- if @order.order_items.empty?
  .span
    Current Order is empty. Add an amount to Order #{@order.ordernumber}.
  .span
    Pricing: #{@order.pricebook.name}
  = form_for OrderItem.new do |f|
    / make form param to add in unit price
    / default input #{@user.unitprice}
    .span
      = f.label :number_of_sessions
    .span
      = f.number_field :quantity, value: 10
    .span
      = f.label :price_per_session
    .span
      = f.number_field :unitprice, value: @user.unitprice
    = f.hidden_field(:orderid, value: @order.sfid)
    = f.hidden_field(:pricebookentryid, value: @user.product.pricebook_entries.last.sfid)
    = f.submit 'Add Order Item'
%h3 Order History
Bring us the girl and wipeaway the debt.
/ SF calculated fields can take up to 10 min to sync back down, unless on streaming api
/ likely won't want to depend on those fields for immediate view presentation
.span
  = number_to_currency (@order.totalamount || @order.order_items.last.unitprice * @order.order_items.last.quantity)
.span
  = link_to 'Add Session', events_path(order: @order.sfid), method: :post # new_event_path(order: @order.sfid)
%h4 Events
- @order.events.each do |event|
  %h5 #{event.subject}
  = event.starts
  = event.durationinminutes 
  Minutes
