%h3 Set Your Default Rate
%p You can always change your rate later. You can also sent individual rates with specific clients.

= form_for @pricebook_entry do |f|
  - if @pricebook_entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pricebook_entry.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @pricebook_entry.errors.full_messages.each do |msg|
          %li= msg
  = f.label :default_hourly_rate
  = f.number_field :unitprice

  .actions
    = f.submit 'Save'


= link_to 'Back', root_path